.wrapper {
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-self: center;
    flex: 1 1 auto;
    width: 100vw;
    max-width: 100%;
    margin-top: var(--default-layout-header-hight);

    .content {
      flex: 1;
    }
  }
}
