.menu {
  width: 224px;

  .menu-inner {
    padding-bottom: 8px;

    .menu-item {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin-left: 0px;
      padding: 11px 16px;

      &:hover {
        border-radius: 0;
        background-color: rgba(22, 24, 35, 0.03);
      }
    }

    .separate {
      border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
  }
}

//Header
.header {
  position: relative;
  height: 50px;
  margin-top: -8px;
}
.back {
  width: 50px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
