.wrapper {
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    margin-top: var(--default-layout-header-hight);
    padding: 0 var(--default-layout-horizontal-spacer);

    .content {
      flex: 1;
    }
  }
}
