.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-space: 9px;
  --search-btn-width: 52px;

  height: var(--default-layout-header-hight, 60px);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;

  .inner {
    height: 100%;
    display: flex;
    padding: 0 var(--default-layout-horizontal-spacer);
    align-items: center;
    justify-content: space-between;
  }

  .action {
    display: flex;
    align-items: center;

    .action-btn {
      font-size: 2.2rem;
      padding: 4px 12px;
      font-size: 2rem;
      color: #161823;
      background-color: transparent;
      cursor: pointer;
    }

    .user-avatar {
      width: 32px;
      height: 32px;
      object-fit: cover;
      border-radius: 50%;
      cursor: pointer;
    }

    .more-btn {
      margin-left: 28px;
      padding: 4px 8px;
      font-size: 2rem;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
